@font-face {
    font-family: '20 Kopeek';
    src: url(../fonts/20Kopeek.woff) format('woff2'),
        url(../fonts/20Kopeek.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '20 Kopeek book';
    src: url(../fonts/20Kopeek-Book.woff) format('woff2'),
        url(../fonts/20Kopeek-Book.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

$white-color: white;
$main_font: '20 Kopeek';
$secondary_font: '20 Kopeek book';

.main-banner {
    
    height: 100vh;
    
     .item {
        background-image: url("../images/carousel1.jpg");
        background-size: cover;
        height: 100vh;
        @include max-screen(1024px) {
            height: 75vh;
        }
        &.item-2 {
            background-image: url("../images/carousel2.jpg");
            
        }
        &.item-3 {
            background-image: url("../images/carousel3.jpg");
        }
        &.item-4 {
            background-image: url("../images/carousel4.jpg");
        }
    }
    
}
header {
    z-index: 100;
    nav {
        @include max-screen(580px) {
                flex-direction: column;
            }
    }
    ul {
        li {
            text-align: center;
        
            &:first-of-type {
               
            a {   
                           
                span {
                    padding: 7px 27px 7px 33px;
                    display: block;
                    color: #FFFFFF;
                    border: 1px solid #FFFFFF;
                    border-radius: 15px;
                    font-family: $main_font;
                    font-size: 16px;
                    line-height: 140%;
                    
                }
                                 @include max-screen(1024px) {
                                     display: inline-block;
                                 }
            }
        }
        }
    }
    p {
        font-family: $main_font;
        color: $white-color;
    }
}
